<div *ngIf="player; else schmuckContent" class="d-flex">
    <h3><i class="bi" [ngClass]="{
        'bi-plus-circle text-success': type === 'add',
        'bi-dash-circle text-danger': type === 'drop'
    }"></i></h3>
    <img [src]="player.imgLink" width="75px" height="50px" class="rounded me-2">
    <div class="flex-column">
        <div>{{ player.first_name }} {{ player.last_name }}</div>
        <div class="flex-row">
            <img class="me-2" [src]="player.teamImgLink" width="25px" class="rounded-2 me-2" />
            <span class="badge" [ngClass]="getPositionStyle(player.position)">{{ player.position }}</span>    
        </div>
    </div>
</div>
<ng-template #schmuckContent>
    <div class="d-flex">
        <h3 class="me-3"><i class="bi" [ngClass]="{
            'bi-plus-circle text-success': type === 'add',
            'bi-dash-circle text-danger': type === 'drop'
        }"></i></h3>
        <small>Some schmuck, so bad they are filtered out of the player set on this site</small>
    </div>
</ng-template>