<app-loading-spinner *ngIf="loading; else matchupContent"></app-loading-spinner>
<ng-template #matchupContent>
    <div class="bg-light p-2 rounded-2 table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        <img [src]="avatarService.getTeamImg(matchup!.teamOne)" class="rounded-2" height="50px">
                        {{ leagueService.getTeamName(matchup!.teamOne) }}
                    </th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" colspan="2" class="text-center">Vs</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" class="text-end">
                        {{ leagueService.getTeamName(matchup!.teamTwo) }}
                        <img [src]="avatarService.getTeamImg(matchup!.teamTwo)" class="rounded-2" height="50px">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let playerMatchup of playerMatchups; let i=index;">
                    <td class="text-start">
                        <div class="fs-5">
                            <div class="d-flex">
                                <img [src]="playerMatchup.playerOne?.imgLink" width="75px" height="50px" class="rounded-2 me-2" />
                                <div class="flex-column">
                                    <div>
                                        {{ playerMatchup.playerOne?.full_name }}&nbsp;&nbsp;
                                        <span [appPlayerInjury]="playerMatchup.playerOne?.injury_status">
                                            {{ playerMatchup.playerOne?.injuryStatusText }}
                                        </span>
                                    </div>
                                    <div class="flex-row">
                                        <img class="me-2" [src]="playerMatchup.playerOne?.teamImgLink" width="25px" class="rounded-2 me-2" />
                                        <span class="badge" [appPlayerPosition]="playerMatchup.playerOne?.position">
                                            {{ playerMatchup.playerOne?.position }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <ng-container *ngIf="playerMatchup.playerOne?.playerPerformance !== undefined">
                            x
                            <span [appPlayerPerformance]="playerMatchup.playerOne?.playerPerformance">
                                {{ playerMatchup.playerOne?.playerPerformance | number:'1.1-2' }}
                            </span>
                        </ng-container>
                    </td>
                    <td 
                        [ngClass]="getProjectionClass(
                            playerMatchup.playerOne?.playerProjection, 
                            playerMatchup.playerTwo?.playerProjection
                        )"
                    >
                        {{ playerMatchup.playerOne?.playerProjection?.stats?.pts_ppr | number:'1.1-2' }}
                    </td>
                    <td><b>{{ playerMatchup.playerOne?.playerPoints | number:'1.1-2' }}</b></td>
                    <td><b>{{ playerMatchup.playerTwo?.playerPoints | number:'1.1-2' }}</b></td>
                    <td 
                        [ngClass]="getProjectionClass(
                            playerMatchup.playerTwo?.playerProjection, 
                            playerMatchup.playerOne?.playerProjection
                        )"
                    >
                        {{ playerMatchup.playerTwo?.playerProjection?.stats?.pts_ppr | number:'1.1-2' }}
                    </td>
                    <td>
                        <ng-container *ngIf="playerMatchup.playerTwo?.playerPerformance !== undefined">
                            x
                            <span [appPlayerPerformance]="playerMatchup.playerTwo?.playerPerformance">
                                {{ playerMatchup.playerTwo?.playerPerformance | number:'1.1-2' }}
                            </span>
                        </ng-container>
                    </td>
                    <td>
                        <div class="fs-5">
                            <div class="d-flex justify-content-end">
                                <div class="d-flex flex-column">
                                    <div>
                                        <span [appPlayerInjury]="playerMatchup.playerTwo?.injury_status">
                                            {{ playerMatchup.playerTwo?.injuryStatusText }}
                                        </span>
                                        &nbsp;&nbsp;{{ playerMatchup.playerTwo?.full_name }}
                                    </div>
                                    <div class="d-flex flex-row justify-content-end">
                                        <span class="badge me-2" [appPlayerPosition]="playerMatchup.playerTwo?.position">
                                            {{ playerMatchup.playerTwo?.position }}
                                        </span>
                                        <img [src]="playerMatchup.playerTwo?.teamImgLink" width="25px" class="rounded-2" />
                                    </div>
                                </div>
                                <div class="flex-column">
                                    <img [src]="playerMatchup.playerTwo?.imgLink" width="75px" height="50px" class="rounded-2" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td 
                        [ngClass]="getTeamProjectedPointsStyle(
                            matchup?.teamOneStarterProjections, 
                            matchup?.teamTwoStarterProjections
                        )"
                    >
                        {{ matchupService.getProjectedPoints(matchup?.teamOneStarterProjections) | number:'1.1' }}
                    </td>
                    <td><b>{{ matchup?.teamOnePoints | number:'1.1' }}</b></td>
                    <td><b>{{ matchup?.teamTwoPoints | number:'1.1' }}</b></td>
                    <td 
                        [ngClass]="getTeamProjectedPointsStyle(
                            matchup?.teamTwoStarterProjections, 
                            matchup?.teamOneStarterProjections
                        )"
                    >
                        {{ matchupService.getProjectedPoints(matchup?.teamTwoStarterProjections) | number:'1.1' }}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</ng-template>