<div class="border rounded-2 px-4 py-2">
    <div *ngIf="selectedLeague === null">
        <h4>Nothing to show</h4>
    </div>
    <app-loading-spinner *ngIf="loading; else leagueOverview"></app-loading-spinner>
    <ng-template #leagueOverview>
        <h3 class="mb-3">{{ selectedLeague!.name }}</h3>
        <div class="row gy-3">
            <div class="col-12 col-xl-8">
                <div class="mb-3">
                    <app-league-matchups [league]="selectedLeague" [leagueUsers]="leagueUsers"></app-league-matchups>
                </div>
                <div class="mb-3">
                    <app-league-stats [league]="selectedLeague" [leagueUsers]="leagueUsers"></app-league-stats>
                </div>
                <div>
                    <app-league-divisions [league]="selectedLeague" [leagueUsers]="leagueUsers"></app-league-divisions>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="mb-3">
                    <app-weekly-hi-lo [league]="selectedLeague" [leagueUsers]="leagueUsers"></app-weekly-hi-lo>
                </div>
                <div class="mb-3">
                    <app-power-ranking [league]="selectedLeague" [leagueUsers]="leagueUsers"></app-power-ranking>
                </div>
                <div class="mb-3">
                    <app-league-tx [league]="selectedLeague" [leagueUsers]="leagueUsers"></app-league-tx>
                </div>
                <div>
                    <app-league-otb [league]="selectedLeague" [leagueUsers]="leagueUsers"></app-league-otb>
                </div>
            </div>
        </div>
    </ng-template>
</div>