<div *ngIf="player" class="border rounded-2 p-2" [ngClass]="getPositionBorderStyle(player.position)">
    <div class="d-flex">
        <img [src]="player.imgLink" width="75px" height="50px" class="rounded-2 me-2" />
        <div class="flex-column">
            <div>{{ player.first_name }} {{ player.last_name }}</div>
            <div class="flex-row">
                <img class="me-2" [src]="player.teamImgLink" width="25px" class="rounded-2 me-2" />
                <span class="badge" [ngClass]="getPositionStyle(player.position)">{{ player.position }}</span>    
            </div>
        </div>
    </div>
</div>
<div *ngIf="draftPick" class="border border-secondary rounded-2 p-2">
    <span class="badge bg-dark text-white">Pick</span>
    <br>
    {{ draftPick }}
</div>
