<div class="row gy-3">
    <div class="col-12">
        <select class="form-control w-100" style="width: 25%" [(ngModel)]="activeWeek" (ngModelChange)="getMatchups(league, leagueUsers)">
            <option *ngFor="let i of weeks" [value]="i">Week {{ i }}</option>
        </select>
    </div>
    <div class="col-12">
        <h4 class="text-center">Week {{ activeWeek }} Matchups</h4>
    </div>
</div>
<hr>
<app-loading-spinner *ngIf="loading; else matchupsContent"></app-loading-spinner>
<ng-template #matchupsContent>
    <div class="mb-3" *ngFor="let matchup of matchups">
        <app-matchup [matchup]="matchup" [loading]="loading"></app-matchup>
    </div>
</ng-template>