<div class="row gy-3">
    <div class="col-12 col-md-6">
        <select class="form-control w-100" style="width: 25%" [(ngModel)]="activeWeek" (ngModelChange)="getMatchups(league, leagueUsers)">
            <option *ngFor="let i of weeks" [value]="i">Week {{ i }}</option>
        </select>
    </div>
    <div class="col-12">
        <h4 class="text-center">Week {{ activeWeek }} Matchups</h4>
    </div>
</div>
<hr>
<app-loading-spinner *ngIf="loading; else matchupsContent"></app-loading-spinner>
<ng-template #matchupsContent>
    <div class="d-flex justify-content-center mb-3">
        <ng-container *ngFor="let matchup of matchups">
            <div class="hover me-3" (click)="selectedMatchup = matchup">
                <i *ngIf="matchup === selectedMatchup; else unselectedIcon" class="bi bi-circle-fill"></i>
                <ng-template #unselectedIcon>
                    <i class="bi bi-circle"></i>
                </ng-template>
            </div>
        </ng-container>
    </div>
    <div class="mb-3">
        <app-matchup [matchup]="selectedMatchup" [loading]="loading"></app-matchup>
    </div>
</ng-template>